.form{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.container{
    position: relative;
}

.button{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    background: none;
    height: 100%;
}

.input{
    height: 30px;
    border-radius: 15px;
    border: none;
    padding:  0 20px;
    font-size: 1.1em;
}

input:focus{
    border: none;
    outline-color: blue;
    /* text-shadow: 1px 2px 15px blue, 4px 2px 15px black; */

}